<div class="{{ cssClass }} {{ items|length }}">
    <table class="tblCheckout" cellspacing="0" cellpadding="0">
        {% set maxAddOrderData = 0 %}
        {% for item in items %}
            {% set maxAddOrderData = max(maxAddOrderData, item.additionalOrderData|length) %}
        {% endfor %}
        {% for item in items %}
            <tr class="products {% if(loop.index is odd) %}row1{% else %}row2{% endif %}">
                <td class="product">{{ item.text }}</td>
                {% for d in item.additionalOrderData %}
                    <td class="{{ d.class }}">{{ data.trlStaticExecute(d.name) }}: {{ data.trlStaticExecute(d.value) }}</td>
                {% endfor %}
                <td class="price" colspan="{{ maxAddOrderData - item.additionalOrderData|length + 1 }}">{{ item.price|money }}</td>
            </tr>
            <tr class="{% if items|length == loop.index %}lastline{% else %}line{% endif %}">
                <td colspan="{{ 4 + additionalOrderDataHeaders|length }}">
                    <div class="line"></div>
                </td>
            </tr>
            {% if items|length == loop.index %}
            <tr class="empty last">
                <td colspan="2">&nbsp;</td>
            </tr>
            {% endif %}
        {% endfor %}
        <tr>
            <td colspan="{{ 4 + additionalOrderDataHeaders|length }}">
                <table class="tblCheckoutPrice" cellspacing="0" cellpadding="0">
                    {% for row in sumRows %}
                    <tr{% if (row.class is defined) %} class="{{ row.class }}"{% endif %}>
                        <td>{{ data.trlStaticExecute(row.text) }}</td>
                        <td class="price">{{ row.amount|money }}</td>
                    </tr>
                    {% endfor %}
                    <tr class="footer">
                        <td colspan="2">
                            <p>{{ tableFooterText }}</p>
                        </td>
                    </tr>
                </table>
                <div class="clear"></div>
            </td>
        </tr>
    </table>
    {% if (footerText) %}
    <div class="footer">
        {{ footerText }}
    </div>
    {% endif %}
</div>