<div class="{{ rootElementClass }} {{ config['ratio'] }}" style="width: {{ config['width'] }}px;" data-config="{{ config|json_encode() }}">
    <div class="{{ 'youtubeContainer'|bemClass }}">
        <div class="{{ 'outerLoading'|bemClass }}">
            <div class="{{ 'loading'|bemClass }}"></div>
        </div>
        <div class="{{ 'youtubePlayer'|bemClass }}">
        </div>
    </div>
</div>

