<div class="{{ rootElementClass }}">
    <h1 class="{{ 'headline'|bemClass }}">{{ placeholder.headline }}</h1>
    <form class="{{ 'form'|bemClass }}"
          action="{{ data.url }}"
          method="post"
    >
        {{ renderer.component(view) }}
        {% block sumRows %}
            {% for row in sumRows %}
                <div class="{{ 'amounts'|bemClass }} {% if row.class is defined and row.class %} {{ row.class }} {% endif %}">
                    <span class="{{ 'amounts__label'|bemClass }}">{{ data.trlStaticExecute(row.text) }}</span>
                    <span class="{{ 'amounts__sum'|bemClass }}">
                        {{ row.amount | money }}
                    </span>
                </div>
            {% endfor %}
        {% endblock %}
        {% if shop is defined and shop %}
            {{ renderer.componentLink(shop, placeholder.backToShop, 'back'|bemClass~' kwfUp-shopBackButton') }}
        {% endif %}
        {% block submit %}
            <input class="{{ 'submit'|bemClass }} kwfUp-shopSubmitButton"
                    name="{{ form.componentId }}"
                    type="submit"
                    value="{{ data.trlKwf('Update') }}"
            />
        {% endblock %}
        {% block checkout %}
            {% if countProducts is defined and countProducts %}
                {{ renderer.componentLink(checkout, placeholder.checkout, 'checkout'|bemClass~' kwfUp-shopCheckoutButton') }}
            {% endif %}
        {% endblock %}
        <input name="{{ form.componentId }}-post"
               type="hidden"
               value="post"
        />
    </form>
</div>
