<div class="{{ cssClass }}">
    <h1>{{ placeholder.headline }}</h1>
    <form action="{{ data.url }}" method="post">
        {{ renderer.component(view) }}
        {% block sumRows %}
            {% for row in sumRows %}
                <div class="amounts {% if row.class is defined and row.class %} {{ row.class }} {% endif %}">
                    <span class="label">{{ data.trlStaticExecute(row.text) }}</span>
                    <span class="sum">
                        {{ row.amount | money }}
                    </span>
                </div>
            {% endfor %}
        {% endblock %}
        {% if shop is defined and shop %}
            <div class="back">
                {{ renderer.componentLink(shop, placeholder.backToShop) }}
            </div>
        {% endif %}
        {% block submit %}
            <div class="submitWrapper {{ buttonClass }}">
                <div class="beforeButton"></div>
                <div class="button">
                    <div class="saving"></div>
                    <button class="submit" type="submit" name="{{ form.componentId }}" value="submit">
                        <span>{{ data.trlKwf('Update') }}</span>
                    </button>
                </div>
                <div class="afterButton"></div>
            </div>
        {% endblock %}
        {% block checkout %}
            {% if countProducts is defined and countProducts %}
                <div class="checkout">
                    {{ renderer.componentLink(checkout, placeholder.checkout) }}
                </div>
            {% endif %}
        {% endblock %}
        <input type="hidden" name="{{ form.componentId }}-post" value="post"/>
    </form>
</div>
