<div class="{{ cssClass }}">
    {% block content %}

    {% block header %}
        <h1>{{ data.trlKwf('Please login') }}</h1>
        <p>{{ data.trlKwf('You have to login to see the requested page.') }}</p>
        {% if register %}
            <p>{{ data.trlKwf("If you don't have an account, you can") }}
                {{ renderer.componentLink(register, data.trlKwf('register here')) }}.
            </p>
        {% endif %}
    {% endblock %}

    {% block redirects %}
        {% if redirects %}
            <ul class="redirects">
            {% for r in redirects %}
                <li>
                    <form method="GET" action="{{ r.url|escape }}">
                    <input type="hidden" name="redirectAuth" value="{{ r.authMethod|escape }}" />
                    <input type="hidden" name="redirect" value="{{ r.redirect|escape }}" />
                    {{ r.formOptions }}
                    <div class="button {{ r.authMethod}}">
                        <button class="{{ r.authMethod}}">
                            {% if r.icon %}
                                <img src="{{ r.icon|escape }}" />
                            {% else %}
                                {{ r.name|escape }}
                            {% endif %}
                        </button>
                    </div>
                    </form>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endblock %}

    {% block form %}
        {{ renderer.component(form) }}
    {% endblock %}
    {% block lostPassword %}
        {% if lostPassword %}
            <p>{{ data.trlKwf("If you have lost your password,") }}
                {{ renderer.componentLink(lostPassword, data.trlKwf('request a new one here')) }}.
            </p>
        {% endif %}
    {% endblock %}

    {% endblock %}
</div>
