<div class="{{ cssClass }}{% if isPosted %} kwfImportant{% endif %}" data-width="100%">
    <input type="hidden" class="config" value="{{ config|json_encode() }}" />
{% if showSuccess %}
    {{ renderer.component(success) }}
{% elseif message %}
    <div class="webStandard webForm kwcForm">
        {{ message }}
    </div>
{% else %}
    {% if errors %}
        <div class="webStandard kwcFormError webFormError">
        <p class="error">{{ placeholder.error }}:</p>
        <ul>
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
        </div>
    {% endif %}
    <div class="webStandard webForm kwcForm" data-width="100%">
    {% block formHeader %}
    {% if header %}{{ renderer.component(header) }}{% endif %}
    {% endblock %}
    {% if form %}
        <form action="{{ action }}" method="{{ method }}"{% if isUpload %} enctype="multipart/form-data"{% endif %}>

            {% block content %}
                {{ renderer.formField(form) }}
            {% endblock %}

            <div class="submitWrapper {{ buttonClass }}">
                <div class="beforeButton"></div>
                <div class="button">
                    <div class="saving"></div>
                    <button class="submit" type="submit" name="{{ formName }}" value="submit">
                        <span>{{ placeholder.submitButton }}</span>
                    </button>
                </div>
                <div class="afterButton"></div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            {% if method == 'get' %}
                {# IE schickt bei enter-taste den submit-value nicht mit #}
                <input type="hidden" name="{{ formName }}" value="submit" />
            {% endif %}

            {# damit wir wissen ob gepostet wurde und ob wir laden sollen #}
            <input type="hidden" name="{{ formName }}-post" value="post" />

            {% if formId %}
                {# to pass id's even if we send by ajax #}
                <input type="hidden" name="{{ formName }}-id" value="{{ formId }}" />
                <input type="hidden" name="{{ formName }}-idHash" value="{{ formIdHash }}" />
            {% endif %}
        </form>
    {% endif %}
    {% block formFooter %}
    {% if footer %}{{ renderer.component(footer) }}{% endif %}
    {% endblock %}
    </div>
{% endif %}
</div>
