<div class="{{ rootElementClass }}">
    <h1 class="{{ 'headline'|bemClass }}">{{ data.trlKwf('Please check your details') }}</h1>
    <span class="{{ 'header'|bemClass }}">{{ renderer.component(orderHeader) }}</span>
    <span class="{{ 'table'|bemClass }}">{{ renderer.component(orderTable) }}</span>
    <span class="{{ 'confirm'|bemClass }}">{{ renderer.component(confirmLink) }}</span>
</div>