{% if menu|length %}
    <nav class="{{ rootElementClass }}">
        <input type="hidden" value="{{ config|json_encode() }}" />
        <ul class="{{ 'menu'|bemClass }}">
            {% for m in menu %}
                {{ m.preHtml|raw }}
                <li class="{{ m.class }}{% if m.submenu is defined and m.submenu|length %}
                    {{ 'item--hasSubMenu'|bemClass('hasSubMenu') }}{% endif %}">
                    {% block menuLink %}
                    {{ renderer.componentLink(m.data, null, '' ~ "link"|bemClass ) }}
                    {% endblock %}
                    {% if m.submenu is defined and m.submenu|length %}
                        <div class="{{ 'dropdown'|bemClass }}">
                            <ul>
                                {% for sm in m.submenu %}
                                    {{ sm.preHtml|raw }}
                                    <li class="{{ sm.class }}">
                                        {% block subMenuLink %}
                                        {{ renderer.componentLink(sm.data, null, '' ~ "subMenuLink"|bemClass ) }}
                                        {% endblock %}
                                    </li>
                                    {{ sm.postHtml|raw }}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </li>
                {{ m.postHtml|raw }}
            {% endfor %}
        </ul>
    </nav>
{% endif %}
