<{% if inlineTags %}span{% else %}figure{% endif %} class="{{ rootElementClass }} kwfUp-kwcImage" style="{{ style }}" data-width="100%" data-max-width="{{ maxWidth }}">
    {% if baseUrl %}
        {% block image %}
        <{% if inlineTags %}span{% else %}div{% endif %} class="{{ "outerContainer"|bemClass }}">
            <{% if inlineTags %}span{% else %}div{% endif %} class="{{ containerClass }}" style="padding-bottom: {{aspectRatio}}%"
                data-min-width="{{ minWidth }}"
                data-max-width="{{ maxWidth }}"
                data-src="{{ baseUrl }}">
                {% if outputImgTag %}
                <noscript>
                    {{ renderer.image(image, altText, imgAttributes) }}
                </noscript>
                {% endif %}
            </{% if inlineTags %}span{% else %}div{% endif %}>
        </{% if inlineTags %}span{% else %}div{% endif %}>
        {% endblock %}
        {% if showImageCaption %}
            {% block caption %}
            <{% if inlineTags %}span{% else %}figcaption{% endif %} class="{{ "imageCaption"|bemClass }} kwfUp-imageCaption" style="{{ captionStyle }}"><span>{{ image_caption }}</span></{% if inlineTags %}span{% else %}figcaption{% endif %}>
            {% endblock %}
        {% endif %}
    {% endif %}
</{% if inlineTags %}span{% else %}figure{% endif %}>
