<div class="{{ cssClass }}" style="{{ style }}" data-width="100%" data-max-width="{{ maxWidth }}">
    {% if baseUrl %}
        <div class="outerContainer">
            <div class="{{ containerClass }}" style="padding-bottom: {{aspectRatio}}%"
                data-min-width="{{ minWidth }}"
                data-max-width="{{ maxWidth }}"
                data-src="{{ baseUrl }}">
                <noscript>
                    {{ renderer.image(image, altText, imgCssClass )}}
                </noscript>
            </div>
        </div>
        {% if showImageCaption %}
            <div class="imageCaption" style="max-width:{{ renderer.imageParam(image, 'width', 'default') }}px;"><span>{{ image_caption }}</span></div>
        {% endif %}
    {% endif %}
</div>
