<div class="{{ rootElementClass }} {{ backgroundColor }}">
    {% if image.hasContent() %}
        <div class="{{ "background"|bemClass }} {{ "background--backgroundImage"|bemClass }}">
            {{ renderer.component(image) }}
        </div>
    {% endif %}
    <div class="{{ "background"|bemClass }}{% if image.hasContent() %} {{ "background--opaque"|bemClass }}{% endif %}"></div>
    <div class="{{ "content"|bemClass }}">
        {{ renderer.component(paragraphs) }}
    </div>
</div>
{% if marginBottom %}
<div class="<div class="{{ "space"|bemClass }}">" style="height: {{ marginBottom }}px"></div>
{% endif %}