{% if showBanner %}
<!-- {{ kwfUp }}optBox -->
<div class="{{ rootElementClass }}">
    {{ config|hiddenOptions }}
    <div class="{{ 'innerOptBox'|bemClass }}">
        {% if headline %}
        <div class="kwfUp-statisticsOptBox__headline">
            {{ headline }}
        </div>
        {% endif %}
        {% if text %}
        <div class="kwfUp-statisticsOptBox__text">
            {{ text }}
        </div>
        {% endif %}
        <div class="kwfUp-statisticsOptBox__info">
            {% if linktag.hasContent() %}
            {{ renderer.component(linktag) }}
                {{ moreText }}
            {% endif %}

            {% if linktag.hasContent() %}</a>{% endif %}
        </div>
        <a href="#" class="{{ 'accept'|bemClass }}
        {% if acceptText|length > 0 %}{{ 'accept--hasText'|bemClass }}{% endif %}">
            <span class="{{ 'accept__text'|bemClass }}">{{ acceptText }}</span>
        </a>
    </div>
</div>
<!-- /{{ kwfUp }}optBox -->
{% endif %}
